@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply antialiased bg-gray-50 text-gray-900;
  }

  .dark body {
    @apply bg-gray-950 text-gray-50;
  }

  /* Thin scrollbars */
  * {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.gray.300') transparent;
  }

  .dark * {
    scrollbar-color: theme('colors.gray.700') transparent;
  }
}
